<form>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>0-99,000</option>
      <option>100,000-199,000</option>
      <option>200,000-299,000</option>
      <option>300,000-399,000</option>
      <option>400,000-499,000</option>
      <option>500,000-599,000</option>
      <option>600,000-699,000</option>
      <option>300,000-799,000</option>
      <option>300,000-899,000</option>
      <option>900,000-999,000</option>
      <option>300,000-399,000</option>

      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>